@section head
{
<style>
    html,body {
        margin: 5px;
        padding: 0px;
    }
</style>
}

<div id="app">
    <ol>
        <todo-item
            v-for="item in groceryList"
            v-bind:tod="item"
            v-bind:key="item.id">
        </todo-item>
    </ol>
</div>


@section script
{
    <script>
        Vue.component('todo-item',
            {
                props: ['tod'],
                template: '<li>{{tod.text}}</li>'

            });

        var app = new Vue({
            el: '#app',
            data: {
                groceryList: [{ id: 0, text: 'Vegetables' }, { id: 1, text: 'Cheese' }, { id: 2, text: 'Whatever else humans are supposed to eat'}]
            }
        });        
    </script>
}
