@{
    ViewBag.Title = "HellowVue";
}

@section head
{
    <style>
            body { 
            margin: 50px;
            padding: 0;
            font-size: large;
            font-weight: bold;
        }
    </style>
}

    <div id="app">
        {{message}}
    </div>

@section script
{
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message:'Hello Vue!'
            }
        });
    </script>
}
